<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

</head>
<body>
<a class="btn btn-danger btn-xs" href="http://127.0.0.1:8000/createserver/">开启SERVER1</a>
<a class="btn btn-danger btn-xs" href="http://127.0.0.1:8000/createserver2/">开启SERVER2</a>
<text style="color: #006b1b">{{ message }}</text>
<div style="width:100%;height:100%">
    <div style="width:100%;">
{#        <input id="i1" />#}
        <select name="连接" id="i1">
            <option value="opc.tcp://192.168.0.1:4840">4840（plc1500仿真）</option>
            <option value="opc.tcp://127.0.0.1:4841/anqu_opcua_server">4841(server1)</option>
            <option value="opc.tcp://127.0.0.1:4842/anqu_opcua_server">4842(server2)</option>
        </select>
        <button onclick="myConnect1()">连接</button>
        <script>
           function myConnect1(){
                var res=document.getElementById('i1').value;
                $.post('http://127.0.0.1:8000/connectTest/',{'url':res},function(res){
                   console.log(res);
                })
           }
        </script>
    </div>
    <div style="width:100%;padding-bottom:20px">
        <input id="id1" value="请输入nodeid"/>
        <input id="v1" value="请输入value"/>
        <button onclick="myWrite1()">写值</button>
        <button onclick="myRead1()">读值</button>
        <button onclick="myThread1()">订阅</button>
        <button onclick="add()">添加</button>


        <script>
           function myWrite1(){
                var url=document.getElementById('i1').value;
                var nodeid=document.getElementById('id1').value;
                var value=document.getElementById('v1').value;
                $.post('http://127.0.0.1:8000/writeTest/',{'url':url,'nodeid':nodeid,'value':value},function(res){
                   console.log(res);
                })
           }
           function myRead1(){
               var url=document.getElementById('i1').value;
               var nodeid=document.getElementById('id1').value;
                $.post('http://127.0.0.1:8000/readTest/',{'url':url,'nodeid':nodeid},function(res){
                   console.log(eval("("+res+")").value);

                   document.getElementById('v1').value=eval("("+res+")").value
                })

           }
           function myThread1(){
               var url=document.getElementById('i1').value;
               var nodeid=document.getElementById('id1').value;
                $.post('http://127.0.0.1:8000/threadTest/',{'url':url,'nodeid':nodeid},function(res){
                   console.log(eval("("+res+")").value);

                   document.getElementById('v1').value=eval("("+res+")").value
                })

           }
        </script>
    </div>
    <div style="width:100%;">
        <input id="i2" value="请输入url"/>
        <button onclick="myConnect2()">连接</button>
        <script>
           function myConnect2(){
                var res=document.getElementById('i2').value;

                $.post('http://127.0.0.1:8000/connectTest/',{'url':res},function(res){
                   console.log(res);
                })
           }

        </script>
    </div>
    <div style="width:100%;padding-bottom:20px">
        <input id="id2" value="请输入nodeid"/>
        <input id="v2" value="请输入value"/>
        <button onclick="myWrite2()">写值</button>
        <button onclick="myRead2()">读值</button>
        <script>
           function myWrite2(){
                var url=document.getElementById('i2').value;
                var nodeid=document.getElementById('id2').value;
                var value=document.getElementById('v2').value;
                $.post('http://127.0.0.1:8000/writeTest/',{'url':url,'nodeid':nodeid,'value':value},function(res){
                   console.log(res);
                })
           }
           function myRead2(){
               var url=document.getElementById('i2').value;
               var nodeid=document.getElementById('id2').value;
                $.post('http://127.0.0.1:8000/readTest/',{'url':url,'nodeid':nodeid},function(res){
                   console.log(res);
                   document.getElementById('v2').value=eval("("+res+")").value
                })
           }
        </script>
    </div>
    <div style="width:100%;">
        <input id="i3" value="请输入url"/>
        <button onclick="myConnect3()">连接</button>
        <script>
           function myConnect3(){
                var res=document.getElementById('i1').value;

                $.post('http://127.0.0.1:8000/connectTest/',{'url':res},function(res){
                   console.log(res);
                })
           }

        </script>
    </div>
    <div style="width:100%;padding-bottom:20px">
        <input id="id3" value="请输入nodeid"/>
        <input id="v3" value="请输入value"/>
        <button onclick="myWrite3()">写值</button>
        <button onclick="myRead3()">读值</button>
        <script>
           function myWrite3(){
                var url=document.getElementById('i3').value;
                var nodeid=document.getElementById('id3').value;
                var value=document.getElementById('v3').value;
                $.post('http://127.0.0.1:8000/writeTest/',{'url':url,'nodeid':nodeid,'value':value},function(res){
                   console.log(res);
                })
           }
           function myRead3(){
               var url=document.getElementById('i3').value;
               var nodeid=document.getElementById('id3').value;
                $.post('http://127.0.0.1:8000/readTest/',{'url':url,'nodeid':nodeid},function(res){
                   console.log(res);
                   document.getElementById('v3').value=eval("("+res+")").value
                })

           }
        </script>
    </div>
</div>

</body>
</html>
